{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Отклики на вакансии</h1>
        
        {% for job, applications_list in applications.items %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ job.title }}</h5>
                    <p class="card-text"><strong>Описание:</strong> {{ job.description }}</p>
                    <p class="card-text"><strong>Место:</strong> {{ job.location }}</p>
                    <p class="card-text"><strong>Зарплата:</strong> {{ job.salary }}<h>₽</h></p>
                    
                    <h6>Отклики:</h6>
                    {% if applications_list %}
                        <ul>
                            {% for application in applications_list %}
                                <li>{{ application.user.username }} — {{ application.timestamp }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if job.creator == user %}
                        <form action="{% url 'jobs:delete_job' job.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить вакансию</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}